{% extends "base.html" %}

{% block title %}A Friend In Need - Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <a href="{{ url_for('register') }}">Register</a>
</div>
<div class="container-fluid">

    <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
    <div id="map-canvas"></div>

    <!-- http://getbootstrap.com/css/#forms -->
    <form id="form">
        <div class="form-group">
            <label class="sr-only" for="q">City, State, Postal Code</label>
            <input class="form-control" id="q" placeholder="City, State, Postal Code" type="text"/>
        </div>
    </form>
</div>
{% endblock %}