{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}A Friend In Need - Home{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <h1>A Friend in Need</h1>
    <p>Get by with a little help from a friend <button type="button" class="btn btn-success">Get Started</button></p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h2>Who are we?</h2>
            <h4>We aim to help communities help themselves.</h4>
            <p>We bring together the people who would like to help, with the people who need it. Sometimes we all need a bit of help,
            but we don't always know where to find it. This site helps to bring people together, so everyone has a place where they
            can look for help, or look for people to help. </p>
            <button class="btn btn-success btn-lg">Find out how</button>
        </div>
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-star logo yellow"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-3">
            <span class="glyphicon glyphicon glyphicon-home logo"></span>
        </div>
        <div class="col-sm-9">
            <h2>How does it work?</h2>
            <h4>You can offer to help anyone near you, help someone who is asking for it or ask for help when you need it.</h4>
            <p>Anything from helping someone mow their lawn, to helping an elderly neighbour do their shopping. All help is welcome.</p>
        </div>
    </div>
</div>

<div id="googleMap"></div>
<script src="https://maps.googleapis.com/maps/api/js?key={{ key | urlencode }}&callback=myMap"></script>

{% endblock %}